<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Ajout d'un produit</title>
    </head>
    <body>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
    </body>
</html>
